#Hero{
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #000; */
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #444; */
/*background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(6, 214, 204, 0.27) 87%, rgba(252, 176, 69, 1) 100%);*/
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper {
  padding-top: 50px;
 
  padding-bottom: 40px; /* space for pagination dots */
}
.swiper-slide {
  display: flex;
  justify-content: center;
}