.back{
     background-image: url(../../assets/coolbackgrounds-particles-stellar.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
}